body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  color: #44c2a3;
}

.knowMoreBtn {
  margin-top: 20px;
  display: inline-block;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

div.knowMoreBtn:hover {
  background-color: rgb(147, 231, 11);
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:active {
  color: rgb(0, 0, 0);
}
